<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="premium.product.mapper.ProductSkuMapper">

    <select id="findProductSkuBySaleSale" resultType="premium.model.entity.product.ProductSku">
        select ps.*
        from product_sku ps
            INNER JOIN product p ON ps.product_id = p.id
        where p.status=1 and ps.is_deleted=0 and p.is_deleted=0
        order by sale_num desc
        limit 10
    </select>
    <select id="findByPage" resultType="premium.model.entity.product.ProductSku">
        select sku.*
        from product_sku sku
        INNER JOIN product p ON p.id = sku.product_id
        <where>
            <if test="keyword != null and keyword != ''">
                and sku.sku_name like CONCAT('%',#{keyword},'%')
            </if>
            <if test="brandId != null">
                and p.brand_id = #{brandId}
            </if>
            <if test="category1Id != null">
                and p.category1_id = #{category1Id}
            </if>
            <if test="category2Id != null">
                and p.category2_id = #{category2Id}
            </if>
            <if test="category3Id != null">
                and p.category3_id = #{category3Id}
            </if>
            and p.status = 1
            and p.audit_status = 1
            and sku.is_deleted = 0
            and p.is_deleted = 0
        </where>
        <if test="order == 1">
            order by sku.sale_num desc
        </if>
        <if test="order == 2">
            order by sku.sale_price asc
        </if>
        <if test="order == 3">
            order by sku.sale_price desc
        </if>
    </select>

    <select id="getBySkuId" resultType="premium.model.entity.product.ProductSku">
        select * from product_sku where id=#{skuId} and is_deleted=0
    </select>

    <select id="findByProductId" resultType="premium.model.entity.product.ProductSku">
        select * from product_sku where product_id=#{productId} and is_deleted=0
    </select>
</mapper>